Binaries/
DerivedDataCache/
Intermediate/
Saved/
Artifacts/
.vs/
.vscode/
.idea/
*.VC.db
*.VC.opendb
*.sln
*.suo
*.xcworkspace
*.xcodeproj
*.code-workspace
.DS_Store
Content/Developers/
Collections/
Hosting/.cache/
Hosting/.env
Hosting/runtime/
Hosting/gcp/gcp.env
Hosting/gcp/runtime/
